doctype html 
html 
  head 
    title #{title}
    link(rel="stylesheet", href="reset.css")
    link(rel="stylesheet", href="the-monospace-web.css")
  body !{content}
    include ../components/footer.pug 
    