doctype html 
html 
  head 
    title #{title}
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/reset.css")
    link(rel="stylesheet", href="/the-monospace-web.css")
    script(type="text/javascript" src="/alpine.js" defer="") 
    script(type="text/javascript" src="/index.js") 
  body(x-data="") !{content}
    include ../components/footer.pug 
    