---
layout: layouts/default.pug
title: The Monospace Land
---
fieldset
  legend and a fieldset with a form    
  form
    .grid
      label name
        input
      label phone
        input
      label(style="flex-grow:1") address
        input
    input(type="submit")
