---
layout: layouts/default.pug
title: The Monospace Land
---
p the grid is meant to provide horizontal layout. works best with forms.
.grid 
  p grid
.grid 
  p grid
  p grid
.grid 
  p grid
  p grid
  p grid
.grid 
  p grid
  p grid
  p grid
  p grid
.grid 
  p grid
  p grid
  p grid
  p grid
  p grid
.grid 
  p grid
  p grid
  p grid
  p grid
  p grid
  p grid
.grid 
  p grid
  p grid
  p grid
  p grid
  p grid
  p grid
  p grid
.grid 
  p grid
  p grid
  p grid
  p grid
  p grid
  p grid
  p grid
  p grid