---
layout: layouts/default.pug
title: The Monospace Land
---
p Welcome to Monospace Land!
p 
  | This work aims to showcase 
  a(href="https://owickstrom.github.io/the-monospace-web/") the monospace web 
  | css style crafted by 
  a(href="https://wickstrom.tech/") Oskar Wickström
