---
layout: layouts/default.pug
title: The Monospace Land
---
p basic list 
ul 
  li item 
  li item 
  li item 
p deep list
ul 
  li item 
  li
    | item
    ul
      li item

  li item 
    ul
      li item
      ul
        li item
    ul
      li item