---
layout: layouts/default.pug
title: The Monospace Land
---
p basic table
table 
  thead 
    tr 
      th header 1
      th header 2
      th header 3
  tbody 
    tr 
      td cell 1
      td cell 2
      td cell 3
  tfoot 
    tr 
      td foot 1
      td foot 2
      td foot 3
  