---
layout: layouts/default.pug
title: The Monospace Land
---
include ../includes/components/sidebar.pug
.grid 
  +sidebar
  div
    p All text-related elements 
    h2 title 1

    h2 title 2

    h3 title 3

    h4 title 4

    h5 title 5

    h6 title 6