---
layout: layouts/default.pug
title: The Monospace Land
---
p the tree is a nicely stylized list
ul.tree 
  li
    | /home
    ul.incremental
      li /sombriks
  li /usr
    ul.incremental
      li /bin
        ul
          li bash
    ul.incremental
      li /lib

